.cart{
    width: 100%;
    margin-top: 2rem;
}
.container{
   
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cart__content{
    display: flex;
    margin-top: 2rem;
}
.cart__img,.cart__item{
    width: 50%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    text-align: start;
}
.cart__img--item{
    overflow: hidden;
    width: 100%;
    display: block;
}
.cart__img--item img{
    width: 100%;
    display: block;
   transition: .3s ease-in-out;

}
.cart__img--item img:hover{
   transform: scale(1.2);
}

.cart__button{
    width: 40rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 3rem;
    border-top: 2px solid #666;
}

.cart__buy,.cart__cancel{
    width: 7.5rem;
    height: 3rem;
    background-color: rgb(13, 105, 217);
    border-radius: 5px;
    border: 1px solid rgb(13, 105, 217);
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}
.cart__cancel{
    margin-left: 2rem;
    background-color: red;
    border: 1px solid red;
}
.cart__buy:hover,.cart__cancel:hover{
    background-color: #222;
}
.cart__increase,.cart__reduce{
    border-radius: 50%;
    margin-left: .5rem;
    outline: none;
    border: 1px solid #47ee14;
    background-color: #47ee14;
    font-size: 1.2rem;
}